body{
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,p{
    text-align: center;
}

ul, li{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

img{
    border: 5px solid khaki;
    padding: 50px;
    background-color: white;
}

.backtoHome{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
